.App {
  text-align: center;
  background-color: #F3F3F3;
}

.shadow-box {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.35), -1px -5px 10px rgba(0, 0, 0, 0.55);
}

.cat-font {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black;
}

